# .env.example
# Deploy karte waqt Heroku Config Vars mein yeh values set karein.
BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
DATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTERNAME.mongodb.net/quiz?appName=quiz" 
